@import "review";
@import "product";
#contents {
  max-width: 1000px;
  margin: 20px auto;
}
.site_logo {
  img {
    width: 100px;
  }
}
#site_header {
  padding: 20px 30px;
  overflow: hidden;
  background: rgb(54, 255, 201);

  a {
    color: #fff;
    font-size: 16px;
  }
  .header_inner {
    margin: auto;
    line-height: 30px;
  }
  .site_logo {
    float: left;
    margin-right: 30px;
  }
  .site_menu {
    float: left;
    li {
      float: left;
      margin-right: 30px;
      font-size: 14px;
    }
  }
  .wrap_search {
    float: left;
  }
  .wrap_cart {
    float: left;
    .btn_cart {
      display: inline-block;
      width: 30px;
      height: 30px;
      padding-top: 8px;
      margin-top: -5px;
      background: url("./assets/images/ico_bag.png");
      background-size: 100%;
      text-align: center;
      color: #fff;
      font-size: 12px;
    }
  }

  .wrap_util {
    float: right;
    .link_util {
      display: inline-block;
      margin-left: 20px;
      color: #fff;
      background: none;
      font-size: 16px;
    }
  }
}
.wrap_category {
  background: rgb(63, 233, 188);
  .list_category {
    display: flex;
    line-height: 50px;
    text-align: center;
    justify-content: center;
    li {
      float: left;
      margin: 0 20px;
    }
    a {
      color: #fff;
      font-size: 15px;
    }
  }
}
