@import 'review';
#contents{
  max-width: 1000px;
  margin:20px auto;
}
.site_logo{
  img{
    width: 100px;
  }
}
#site_header{
  padding:20px 30px;
  overflow: hidden;
   background: rgb(54, 255, 201);

  a{
    color: #fff;
    font-size: 16px;
  }
  .header_inner{    
    margin: auto;
    line-height: 30px;
  }
  .site_logo{
    float: left;
    margin-right: 30px;
  }
  .site_menu{
    float: left;
    li{
      float: left;
      margin-right: 30px;
      font-size: 14px;
    }
  }
  .wrap_search{
    float: left;
  }
  .wrap_util{
    float: right;
    .link_util{
      display: inline-block;
      margin-left: 20px;
      color: #fff;
      background: none;
      font-size: 16px;
    }
  }
}
.wrap_category{
  background: rgb(63, 233, 188);
  .list_category{
    display: flex;
    line-height: 50px;
    text-align: center;
    justify-content: center;
    li{
      float: left;
      margin: 0 20px;
    }
    a{
      color: #fff;
      font-size: 15px;
    }
  }
}
.list_product{
  display: flex;
  flex-wrap: wrap;
  li{
    padding: 0 20px 20px;
    width: 33.333%
  }
  .thumb_product{
    overflow: hidden;
    height: 190px;
  }
  .thumb_img{
    width: 100%;
  }
  .wrap_info{
    padding: 15px 0;
  }
  .tit_shop{
    display: block;
    font-size:16px;
    margin-bottom: 10px;
  }
  .txt_price{
    font-size: 18px;
    margin-left: 10px;
    color: rgb(97, 97, 97)
  }
  .txt_name{
    font-size: 18px;    
  }
  .wrap_rate{
    margin-top: 10px;
  }
  .txt_rate{    
    float: right;
    margin-right: 8px;
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
  }
}
.info_top{
  display: flex;
  .shop_thumb{
    width: 40%
  }
  .shop_info{
    width: 60%;
    padding:30px 30px 0;
  }
  .tit_shop{
    font-size: 24px;
    margin-bottom: 10px;   
  }
}

  .txt_g{
    font-size: 15px;
  }

  .wrap_slide{
    overflow: hidden;
  }

  .slide_thumb{
    display: flex;
    li{
      width:100px;
      img{
        width: 100%;
      }
    }
  }

  .list_slide{
    overflow: hidden;
    position: relative;
    transition: .5s all;
    img{
      width: 100%;
    }
    li{
      float: left;
      width: 480px;
    }
  }