[class^="lab_rate"]{
  float: left;
  position: relative;
  width: 20px;
  height: 20px;
  z-index: 1;
}
.wrap_rate{
  overflow: hidden;
  .rate_star{
    float: left;
    position: relative;
    width: 100px;
    height: 20px;
    background: url('./assets/images/rate_off.png');
    background-size: 20px 20px;
  }
  .rate_on{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 20px;
    background: url('./assets/images/rate_on.png');
    background-size: 20px 20px;
  }
  #rate1:checked ~ .rate_on{
    width: 20%;
  }
  #rate2:checked ~ .rate_on{
    width: 40%;
  }
  #rate3:checked ~ .rate_on{
    width: 60%;
  }
  #rate4:checked ~ .rate_on{
    width: 80%;
  }
  #rate5:checked ~ .rate_on{
    width: 100%;
  }
}

.site_logo{
  img{
    width: 100px;
  }
}
#wrap{

}
#site_header{
  height:100px;
  padding:20px 30px;
  overflow: hidden;
  .header_inner{    
    margin: auto;
  }
  .site_logo{
    float: left;
    margin-right: 30px;
  }
  .site_menu{
    float: left;
    li{
      float: left;
      margin-right: 30px;
      line-height: 20px;
      font-size: 14px;
    }
  }
  .wrap_util{
    float: right;
    .link_util{
      display: inline-block;
      margin-left: 20px;
    }
  }
}